.button{
    font-weight: 600;
    float: left;
    display: inline;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    border: solid navy 2px;
    border-radius: 5px;
    background-color: burlywood;
}

.button:hover{
    background-color:azure;
}

#c-panel{
    background-color: burlywood;
    border: dashed navy 2px;
    display: none;
    clear:both;
}

ul{
    list-style-type: none;
}

.row{
    clear: both;
    position:relative;
    align-content: center;
}

#block{
    float: left;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.canvas{
    width:1040px;
    border: solid aqua 5px;
    padding: 5px 0px 100px 15px;
}

a{
    text-decoration: none;
    color: dimgrey;
}